<style>
    table td {
        word-break: break-all;
    }
    </style>
    
    <div style="overflow-x:auto;">
    <table class="table table-bordered assessment-result-tool">
        <thead style="background-color: #404040; color:cornsilk; text-align:center">
            <!-- <tr>
                <th style="width: 90px" rowspan="2">Indicator</th>
                {% for(const [key, value] of Object.entries(years)) { %}
                    <th class="score" colspan="10">{{ key }}</th>
              {% endfor %}
            </tr> -->
            <tr>
                <th style="width: 70px" rowspan="2">Code</th>
                <th style="width: 170px" rowspan="2">Indicator</th>
                <th style="width: 170px" rowspan="2">Governorate</th>
                <!-- <th style="width: 170px" rowspan="2">District</th> -->
                <th style="width: 100px" rowspan="2">Disaggregation</th>
                <th style="width: 100px" rowspan="2">Final Target</th>
                
                {% for(const [key, value] of Object.entries(years)) { %}
                    {% for(const [key_m, value_m] of Object.entries(value)) { %}
                     <th class="score" style="width: 100px">{{ value_m["month"] }} / {{ key }}</th>
                    {% endfor %}
                {% endfor %}
                <th style="width: 100px" rowspan="2">Achieved</th>
            </tr>
           
        </thead>
        <tbody>
            {% for(const [key_ind, value_ind] of Object.entries(indicators)) { %}

                {% var counter=1; %}
                {% for i in value_ind %}
                    {% var counter_gov=1; %}
                    {% for gender in i.gender %}

                        <tr class="text-muted" data-indicator="{{i.ind_detail}}">
                            {% if(counter == 1) { %}
                                <td rowspan="{{value_ind.length * i.gender.length}}" class="output-bg"> {{ i.code }} </td>
                                <td rowspan="{{value_ind.length * i.gender.length}}" class="output-bg"> {{ i.indicator_subject }} </td>
                            {% } %}

                            {% if(counter_gov == 1) { %}
                                <td rowspan="{{i.gender.length}}" class="output-bg"> {{ i.governorate }} </td>
                            {% } %}

                            {% counter_gov++ %}

                            <!-- <td>{{ i.district }}</td> -->
                            <td>{{ gender }}</td>
                            <td>{{ i[gender] }}</td>
                            
                            {% var total=0; %}
                            {% for(const [key, value] of Object.entries(years)) { %}
                                {% for(const [key_m, value_m] of Object.entries(value)) { %}
                                    {% total +=i.months[value_m.date][gender]; %}
                                    <td>
                                        <span data-indicator="{{i.ind_detail}}" data-month="{{value_m.month}}" class="indicator-result-grade badge" >
                                            {{value_m.month}}
                                        </span>
                                        <input type="number" class="indicator-result-data" style="width:70%; float:right;"
                                        
                                        data-month="{{value_m.month}}"
                                        data-date="{{value_m.date}}"
                                        data-detail="{{i.ind_detail}}"
                                        data-indicator="{{i.indicator}}"
                                        data-gender="{{gender}}"
                                        value="{{i.months[value_m.date][gender]}}"
                                            />
                                    </td>
                                {% endfor %} 
                            {% endfor %} 
                        
                        <td class="total">{{ total }}</td>
                            
                        </tr>

                     {% counter++ %}
                    {% endfor %} 
                {% endfor %} 

            {% endfor %} 
        </tbody>
    </table>
    </div>